﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.month-view {
    width: 90%;
    margin: 0 auto;
}

.month-view tr {
    display: flex;
    justify-content: center;
}

.month-view tr th {
    height: auto;
}

.month-view td, .month-view th {
    border-style: solid;
    border-color: white;
    width: 150px;
    height: 100px;
}

.month-view .event-list {
    font-size: small;
    margin-top: -20px;
}

.new-button {
    height: 80px;
    width: 80px;
    border-radius: 80%;
    background-color: #1925a9;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: auto;
    border: 1px solid;
    border-color: #1925a9;
    border-radius: 100%;
    -moz-border-radius: 80%;
    -webkit-border-radius: 80%;
    float: right;
}

.Overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 1000;
}

.PopUpPanel {
    position: absolute;
    background-color: #9a9696;
    top: 100px;
    left: 15%;
    z-index: 2001;
    padding: 10px;
    min-width: 400px;
    max-width: 600px;
    -moz-box-shadow: 3.5px 4px 5px #000000;
    -webkit-box-shadow: 3.5px 4px 5px #000000;
    box-shadow: 3.5px 4px 5px #000000;
    border-radius: 5px;
    -moz-border-radiux: 5px;
    -webkit-border-radiux: 5px;
    border: 1px solid #CCCCCC;
}