﻿@model CalendarApp.Models.NewEvent
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Event</h2>

@using (Html.BeginForm("Edit", "Jockey"))
{
<form>
    @Html.HiddenFor(n => n.ID)
    <div class="form-group">
        @Html.LabelFor(n => n.FirstName)
        @Html.TextBoxFor(n => n.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.EventName)
        @Html.TextBoxFor(n => n.EventName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.TimeofEvent)
        @Html.TextBoxFor(n => n.TimeofEvent, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Location)
        @Html.TextBoxFor(n => n.Location, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.AdditionalNotes)
        @Html.TextBoxFor(n => n.AdditionalNotes, new { @class = "form-control" })
    </div>

    <div>
        <button type="submit" class="btn btn-primary" onclick="insertQuery">Save</button>
    </div>
</form>

}

