﻿<!--model ienumerable myviewmodel-->
@using System.Linq;
@{

    ViewBag.Title = "Month";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">@Model.Month.ToString("MMMM")</h2>
<h2 align="center">@Model.Month.Year</h2>

<body>
    <table class="month-view" style="float: left">
        <tr>
            @foreach (DayOfWeek dayOfWeek in Enum.GetValues(typeof(DayOfWeek)))
            {
                <th>@dayOfWeek.ToString().Substring(0, 1)</th>
            }
        </tr>
        @foreach (var week in Model.Weeks)
        {
            <tr>
                @if (week[0].Date.DayOfWeek != DayOfWeek.Sunday)
                {
                    foreach (DayOfWeek dayOfWeek in Enum.GetValues(typeof(DayOfWeek)))
                    {
                        if (dayOfWeek < week[0].Date.DayOfWeek)
                        {
                            <td></td>
                        }
                    }
                }

                @foreach (var day in week)
                {
                    <td>
                        @day.Date.Day
                        <ul class="event-list">
                        @foreach (var newEvent in day.Events)
                        {
                            <li class="list-unstyled">
                                @Html.ActionLink((string) newEvent.EventName, "Single", new { id = newEvent.ID })
                            </li>
                        }
                        </ul>
                    </td>
                }

                @if (week.Count < 7 && week[week.Count - 1].Date.DayOfWeek != DayOfWeek.Saturday)
                {
                    foreach (DayOfWeek dayOfWeek in Enum.GetValues(typeof(DayOfWeek)))
                    {
                        if (dayOfWeek > week[week.Count - 1].Date.DayOfWeek)
                        {
                            <td></td>
                        }
                    }
                }
            </tr>

        }
    </table>

    <button class="btn btn-primary new-button" data-toggle="modal" data-target="#myModal">
        @Html.ActionLink("+", "New", "MonthView")
    </button>

</body>


<div id="myModal" class="modal fade " tabindex="-1" role="dialog">
    <div class="form-group">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("New", "MonthView"))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">New Event</h4>
                    </div>
                    <div class="modal-body">
                        <p>Name of event:</p> <input name="EventName" type="text">
                        <p> Date and Time: </p> <input name="TimeofEvent" type="datetime">
                        <p> Location: </p> <input name="Location" type="text">
                        <p>Additional notes:</p> <textarea name="AdditionalNotes"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#myModal')
            function (e) {
                $(this)
                    .find('.btn.primary')
                    .attr('href', $(e.relatedTarget).data('href'));
            });
    </script>
}

