﻿@model CalendarApp.Models.NewEvent
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Info</h2>

<table class="table-hover" width="100%">

    &nbsp;
    &nbsp;
    &nbsp;
    <tr>
        <td> @Html.LabelFor(e => e.EventName)</td>
        <td> @Model.EventName.ToString()</td>
    </tr>

    <tr>
        <td> @Html.LabelFor(e => e.Location)</td>
        <td> @Model.Location.ToString()</td>
    </tr>

    <tr>
        <td> @Html.LabelFor(e => e.TimeofEvent)</td>
        <td> @Model.TimeofEvent.ToString()</td>
    </tr>

    <tr>
        <td> @Html.LabelFor(e => e.AdditionalNotes)</td>
        <td> @Model.AdditionalNotes.ToString()</td>
    </tr>
</table>

&nbsp;
&nbsp;
&nbsp;
<p>
    @Html.ActionLink("Back to Month", "Index", "MonthView", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit Event", "Edit", "MonthView", new { id = Model.ID }, new { @class = "btn" })

        <button class="btn btn-danger"
                data-href="@Url.Action("Delete",
                "MonthView",
                new { ID = Model.ID})"
                data-toggle="modal"
                data-target="#confirm-delete">
            Delete
    </button>
</p>

@section scripts
    {
    <script>
        $('confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });
    </script>
    }


